
.card-img-top{border-radius:.25rem .25rem .25rem .25rem; margin-left: 0px;}
    .card{
        position: relative;display: block;margin-bottom: .75rem;background-color: white;border: 2px solid lightgrey; border-radius: .0rem; margin-right: 0rem; }
    .card-block{padding: .25rem;}
    .card-title{margin-bottom: .75rem; font-size: 20px; margin-top: .5rem;}
    .card-text{    margin-top: 0;
    margin-bottom: 1rem;}
    .btn{display: inline-block;padding: .375rem 1rem; font-size: 1rem; font-weight:400;line-height: 1.5;text-align: center;white-space: nowrap;vertical-align: middle;cursor: pointer;-webkit-user-select: none;border: 1px solid transparent; border-radius: .25rem;}
    .btn-primary{color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;}
    .container{width: 2200px;height: 5000px;}
    img{width: 500px;height: 229px;}
    body{background-color: lightgrey;}



    
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #2098d1;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}